flask
flask-cors
requests
supabase
faiss-cpu
langchain
langchain-community
langchain-openai
langchain-core
langchain-text-splitters
rank_bm25
transformers
sentence-transformers
bs4
lxml
ujson
scikit-learn
playwright
firecrawl-py
gunicorn
PyPDF2
python-docx
sendgrid
pinecone